<div class="container-fluid mainDiv">
  <div class="container-fluid ovalLogo">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6 col-6">
        <div class="oval">
          <img src="assets/img/unnamed.png" class="nilogo">
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row nameInputDiv">
      <div class="col"></div>
      <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 col-4">
        <input type="text" class="form-control nameInput" placeholder="Nombre">
        <span class="fa fa-user userIcon"></span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row apellidoInputDiv">
      <div class="col"></div>
      <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 col-4">
        <input type="text" class="form-control apellidoInput" placeholder="Apellido">
        <span class="fa fa-key passwordIcon"></span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row buttonLogin">
      <div class="col"></div>
      <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 col-4">
        <button type="button" class="btn btn-danger loginButton">Ingresar</button>
      </div>
      <div class="col"></div>
    </div>
    <div class="row registerButtonDiv">
      <div class="col"></div>
      <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 col-4">
        <a routerLink="/register" class="btn btn-danger registerButton">Registrarse</a>
      </div>
      <div class="col"></div>
  </div>
  <div class="container-fluid footer">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 col-4 footerTypo">
        <p class="forgetPassword">¿Olvidó su contraseña?</p>
      </div>
      <div class="col"></div>
    </div>
    </div>
</div>

