<div class="container-fluid mainDiv">
  <div class="container-fluid">
    <div class="row titleContainer">
      <div class="col"></div>
      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-6 col-6">
        <p>Crear nueva cuenta</p>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container-fluid inputGroup">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-4 col-xl-4 col-lg-4 col-sm-4 col-4 colName">
        <input type="text" class="form-control nameInput" placeholder="Nombre">
        <span class="fa fa-user nameIcon"></span>
      </div>
      <div class="col-md-4 col-xl-4 col-lg-4 col-sm-4 col-4 colApellido">
        <input type="text" class="form-control apellidoInput" placeholder="Apellido">
        <span class="fa fa-user apellidoIcon"></span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row rowEmail">
      <div class="col"></div>
      <div class="col-md-8 col-xl-8 col-lg-8 col-sm-8 col-8">
        <input type="text" class="form-control emailInput" placeholder="Correo electrónico">
        <span class="fa fa-envelope emailIcon"></span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row rowPassword">
      <div class="col"></div>
      <div class="col-md-4 col-xl-4 col-lg-4 col-sm-4 col-4">
        <input type="text" class="form-control passwordInput" placeholder="Contraseña">
        <span class="fa fa-key passwordIcon"></span>
      </div>
      <div class="col-md-4 col-xl-4 col-lg-4 col-sm-4 col-4">
        <input type="text" class="form-control passwordConfirmationInput" placeholder="Confirmar contraseña">
        <span class="fa fa-key passwordConfirmationIcon"></span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row registerButtonRow">
      <div class="col"></div>
      <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 col-4">
        <button type="button" class="btn btn-danger registerButton">Registrarse</button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
