body{
    background-image: url('./assets/img/login-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
  font-family: Nunito;
  src: url("assets/fonts/Nunito-Light.ttf") format("opentype");
}
